language: python

install:
    - pip install tox
    - pip install coveralls

script:
    - tox

env:
    - TOXENV=py27
    - TOXENV=py33
    - TOXENV=py34
    - TOXENV=flake

after_success: coveralls
